.content-container {
  padding: 20px;
  height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .secondary-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    margin: 15px auto;
    margin-bottom: 20px;
    .avatar {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 10px;
      display: flex;
      justify-content: center;
      background: #6ba368;
    }
    .message-stand {
      .message-button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        background: #6ba368;
      }
    }
  }
  .crop-container {
    margin-bottom: 100px;
    .crop {
      margin: 15px auto;
      padding: 10px;
      background: white;
      border-radius: 5px;
      .image-container {
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          border-radius: 5px;
          max-height: 100%;
          max-width: 100%;
        }
      }
      .crop-title {
        font-size: 18px;
      }
      .details-container {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .delete-button {
        padding: 0;
        margin: 0;
      }
    }
  }
  //
  .no-stand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .create-stand {
      font-size: 28px;
    }
    .message {
      position: fixed;
      bottom: 500px;
      left: 37.5%;
    }
    .build-container {
      .build-button {
        position: fixed;
        bottom: 400px;
        left: 40%;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 10px;
        display: flex;
        justify-content: center;
        background: #6ba368;
      }
    }
    .create-stand-container {
      margin-top: 15px;
      width: 100%;
      form {
        background: white;
        padding: 20px;
        height: 40%;
        width: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          font-size: 18px;
        }
        input {
          margin: 15px auto;
          border: 1px solid gray;
          border-radius: 5px;
          width: 80%;
          padding: 5px;
          font-size: 14px;
        }
        .button-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          .submit-button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 10px;
            display: flex;
            justify-content: center;
            background: #6ba368;
          }
          .close-button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 10px;
            display: flex;
            justify-content: center;
            background: #6ba368;
          }
        }
      }
    }
  }
}

.empty-stand-container {
  .garden-button {
    position: fixed;
    bottom: 80px;
    left: 30px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #6ba368;
  }
  .post-stand-button {
    position: fixed;
    bottom: 80px;
    right: 30px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #6ba368;
  }
}

#modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 5px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  #modal-content {
    margin: 20% auto;
    width: 100%;
    background: white;
    border-radius: 5px;
    .garden-crops-container {
      .content-container {
        .edit-form-container {
          background: whitesmoke;
          border-radius: 5px;
          padding: 10px;
          width: 100%;
          form {
            display: flex;
            flex-direction: column;
            align-items: center;
            .choice-title {
              font-size: 18px;
            }
            .check-true {
              color: green;
            }
            .check-false {
              color: red;
            }
            label {
              font-size: 18px;
              margin: 5px auto;
            }
            input {
              width: 80%;
              border: 1px solid gray;
              border-radius: 5px;
              padding: 5px;
              font-size: 14px;
            }
            textarea {
              height: 150px;
              width: 80%;
              padding: 5px;
              font-size: 14px;
              border-radius: 5px;
              resize: none;
              overflow: scroll;
            }
            .img-selection {
              margin: 5px auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              .garden-photos {
                display: flex;
                flex-wrap: wrap;
                height: 250px;
                justify-content: center;
                .img-container {
                  padding: 3px;
                  height: 100px;
                  width: 100px;
                  img {
                    max-height: 100%;
                    max-width: 100%;
                  }
                }
              }
              input {
                border: 0;
              }
            }
            .buttons {
              width: 80%;
              display: flex;
              justify-content: space-around;
              padding: 10px;
            }
          }
        }
        .seperating-line {
          height: 2px;
          width: 100%;
          background: black;
          margin: 5px auto;
        }
        .crop-container {
          background: whitesmoke;
          border-radius: 5px;
          margin: 5px auto;
          padding: 20px;
          height: 190px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .img-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 150px;
            width: 150px;
            img {
              max-height: 100%;
              max-width: 100%;
              border-radius: 5px;
            }
          }
          .description-container {
            padding: 10px;
            .plant-name {
              font-size: 18px;
            }
            .description {
              font-size: 14px;
            }
          }
        }
      }
    }
    .done-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px;
      #done-button {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 10px;
        display: flex;
        justify-content: center;
        background: #6ba368;
      }
    }
  }
}

#message-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 120%;
  width: 100%;
  padding: 5px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  #message-modal-content {
    margin: 10% auto;
    width: 100%;
    background: white;
    border-radius: 5px;
    .form-container {
      padding: 10px;
      background: whitesmoke;
      form {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border-radius: 5px;
      }
    }
  }
}
