<div class="footer-container">
  <div class="nav">
    <div routerLink="garden">
      <img src="https://icongr.am/jam/flower.svg">
      <div>Garden</div>
    </div>
    <div routerLink="marketplace">
      <img src="https://icongr.am/jam/shopping-bag.svg">
      <div>Market</div>
    </div>
    <div routerLink="stand">
      <img src="https://icongr.am/jam/shop.svg">
      <div>Stand</div>
    </div>
    <div routerLink="profile">
      <img src="https://icongr.am/jam/user.svg">
      <div>Profile</div>
    </div>
  </div>
</div>