.header {
  display: flex;
  flex-wrap: wrap;
}

.title {
  flex: 10;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: -3px;
  background: -webkit-linear-gradient(skyblue, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.search {
  flex: 1;
}

.search img {
  display: block;
  height: 80%;
  margin-left: auto;
  position: relative;
  top: 10%;
  right: 5%;
  padding-right: 10px;
  opacity: 0.5;
  padding: 5px;
}
.overlay {
  flex:1;
}

.overlay img {
  display: block;
  opacity: 0.5;
  left:10px;
  position: absolute;
  height: 35px;
  width: 35px;
  padding: 5px;
}

/* // Extra Small devices (smartphones, 0px and up) */
@media (min-width: 0px) {
  .header {
    margin-top: 5px;
  }

  .overlay, .title, .search {
    height: 40px;
  }

  .title {
    font-size: 2.5em;
    line-height: 40px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    margin-top: 0px;
  }

  .overlay, .title, .search {
    height: 70px;
  }

  .title {
    font-size: 3em;
    line-height: 70px;
  }
}