@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '../../../variables';

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: $subFont;
  .avatar {
    padding: 20px;
    display: flex;
    justify-content: center;
    .avatar-container {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      img {
        border: 6px solid $greenYellow;
        max-height: 100%;
        max-width: 100%;
        border-radius: 50%;
      }
    }
  }
  .secondary-header {
    display: flex;
    justify-content: center;
    div {
      font-size: 28px;
    }
  }
  .profile-body {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .names {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      margin: 5px auto;
      div {
        margin: 5px auto;
      }
      div:nth-child(2) {
        border-bottom: 1px solid gray;
        width: 100%;
      }
    }
    .bio {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  .user-options {
    position: fixed;
    bottom: 120px;
    display: flex;
    width: 100%;
    justify-content: center;
    .settings-button {
      border-radius: $circle;
      width: $circleButton;
      height: $circleButton;
      padding: 10px;
      display: flex;
      justify-content: center;
      background: $brightGreen;
      box-shadow: $circularShadow;
    }
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100%;
  .form-container {
    padding: 15px;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    background: whitesmoke;
    box-shadow: $circularShadow;
    .setting-options {
      display: flex;
      flex-direction: column;
      align-items: center;      
      margin: 15px auto;
      div:nth-child(1) {
        font-size: 28px;
        margin-bottom: 20px;
      }
      .options {
        font-size: 18px;
        margin: 10px auto;
      }
    }
    form {
      background: white;
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      height: 100%;
      .secondary-header {
        div {
          font-size: 20px;
        }
      }
      label {
        margin: 15px auto;
      }
      input {
        width: 80%;
        padding: 5px;
        font-size: 14px;
        border: 1px solid gray;
        border-radius: 5px;
      }
      .location-container {
        margin: 50% auto;
        select {
          width: 45%;
          background: whitesmoke;
          padding: 5px;
          font-size: 14px;
          margin: auto 5px;
        }
      }
    }
    .button-container {
      width: 85%;
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 80px;
      padding: auto 30px;
      .submit-button, .cancel-button{
        border-radius: $circle;
        width: $circleButton;
        height: $circleButton;
        padding: 10px;
        background: $brightGreen;
        box-shadow: $circularShadow;
      } 
      .cancel-button {
        background: $alertRed;
      }
    }
    .settings-button-container {
      position: fixed;
      bottom: 120px;
      display: flex;
      width: 85%;
      justify-content: center;
      .hide-settings-button {
        border-radius: $circle;
        width: $circleButton;
        height: $circleButton;
        padding: 10px;
        display: flex;
        justify-content: center;
        background: $brightGreen;
        box-shadow: $circularShadow;
      }
    }
  }
}

.not-logged-in {
  width: 100%;
  height: 100%;
  padding: 15px;
  .unauth-container {
    background: white;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    .secondary-header {
      font-size: 28px;
      text-align: center;
      margin-top: 15px;
      div {
        span {
          text-decoration: underline;
        }
      }
    }
    .feature-description {
      margin-top: 15px;
      text-align: center;
      div {
        font-size: 18px;
        margin-top: 100px;
      }
      ul {
        width: 100%;
        padding: 0;
        li {
          list-style-type: none;
          padding: 5px;
          font-size: 16px;
        }
      }
    }
  }
}
.loading-modal {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  padding: 50px;
  .loading-spinner {
    height: 150px;
    width: 200px;
    background: white;
    box-shadow: $circularShadow;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .message {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}