@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '../../../variables';

.content-container {
  padding: 20px;
  height: 120%;
  .crop-container {
    background: white;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-shadow: $circularShadow;
    margin-bottom: 120px;
    .secondary-header {
      margin-bottom: 20px;
      div {
        font-size: 28px;
      }
    }
    .img-container {
      height: 250px;
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }
    }
    .img-scroller {
      display: flex;
      justify-content: space-around;
      margin-top: 5px;
      div {
        padding: 5px;
      }
    }
    .edit-img-container {
      height: 175px;
      width: 175px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 5px;
      }
    }
    .owner {
      font-size: 20px;
    }
    .details-container {
      padding: 15px;
      width: 100%;
      font-size: 16px;
    }
    .remove-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 150px;
      right: 30px;
      svg {
        height: 40px;
        width: 40px;
        fill: tomato;
      }
    }
    .editing-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 110%;
      label {
        margin: 15px auto;
      }
      input {
        border: 1px solid gray;
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        margin: 5px;
      }
      select {
        width: 70%;
        height: 20px;
        background: whitesmoke;
        margin-bottom: 10px;
      }
      textarea {
        height: 150px;
        width: 100%;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
        resize: none;
        overflow: scroll;
      }
      .image-upload {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        text-align: center;
        input {
          border: 0.6px outset black;
        }
      }
      .submit-button {
        position: fixed;
        bottom: 80px;
        left: 60px;
        border-radius: $circle;
        width: $circleButton;
        height: $circleButton;
        padding: 10px;
        display: flex;
        justify-content: center;
        background: $brightGreen;
        box-shadow: $circularShadow;
      }
      .cancel-button {
        position: fixed;
        bottom: 80px;
        right: 60px;
        border-radius: $circle;
        width: $circleButton;
        height: $circleButton;
        padding: 10px;
        display: flex;
        justify-content: center;
        background: $alertRed;
        box-shadow: $circularShadow;
      }
    }
  }
  .auth-actions {
    position: fixed;
    bottom: $circleButtonBot;
    .edit-button {
      position: fixed;
      bottom: $circleButtonBot;
      left: 40px;
      border-radius: $circle;
      width: $circleButton;
      height: $circleButton;
      padding: 10px;
      display: flex;
      justify-content: center;
      background: $brightGreen;
      box-shadow: $circularShadow;
    }
    .delete-button {
      position: fixed;
      bottom: $circleButtonBot;
      right: 40px;
      border-radius: $circle;
      width: $circleButton;
      height: $circleButton;
      padding: 10px;
      display: flex;
      justify-content: center;
      background: $alertRed;
      box-shadow: $circularShadow;
    }
  }
}

#delete-modal {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 50px;
  #delete-modal-content {
    background: white;
    margin: 50% auto;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      font-size: 22px;
    }
    .note {
      font-size: 12px;
      text-align: center;
      color: red;
    }
    .button-container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin: 15px auto;
      button {
        background: $brightGreen;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        color: white;
        width: 70px;
        box-shadow: $circularShadow;
      }
      button:nth-child(2) {
        background: $alertRed;
      }
    }
  }
}
.loading-modal {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  padding: 50px;
  .loading-spinner {
    height: 150px;
    width: 200px;
    background: white;
    box-shadow: $circularShadow;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .message {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}