<div class="content-container">
  <div class="crop-container">
    <div class="secondary-header">
      <div>{{crop.description}}</div>
    </div>
    <div class="img-container" *ngIf="hasPhoto">
      <img src="{{currentPhoto}}">
    </div>
    <div class="img-scroller" *ngIf="hasPhoto">
      <div class="left" (click)="previousPhoto()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-arrow-left">
          <path d='M3.414 7.657l3.95 3.95A1 1 0 0 1 5.95 13.02L.293 7.364a.997.997 0 0 1 0-1.414L5.95.293a1 1 0 1 1 1.414 1.414l-3.95 3.95H13a1 1 0 0 1 0 2H3.414z'
          /></svg>
      </div>
      <div class="img-count">{{imageCounter()}}</div>
      <div class="right" (click)="nextPhoto()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-arrow-right">
          <path d='M10.586 5.657l-3.95-3.95A1 1 0 0 1 8.05.293l5.657 5.657a.997.997 0 0 1 0 1.414L8.05 13.021a1 1 0 1 1-1.414-1.414l3.95-3.95H1a1 1 0 1 1 0-2h9.586z'
          /></svg>
      </div>
    </div>
    <div routerLink="/crops/{{crop.id}}" class="owner">Owner: {{crop.owner.stand_name}}</div>
    <div class="details-container">
      <div class="species">Species: {{crop.plant.name}}</div>
      <div class="price">Price: {{crop.price}}</div>
      <div class="status">Status: {{crop.cropStatus.name}}</div>
      <div class="owner">Details: {{crop.details}}</div>
    </div>
  </div>
  <div class="auth-actions" *ngIf="isLoggedIn()">
    <button class="delete-button" (click)="deleteCrop()">Remove</button>
  </div>
</div>