<div class="marketplace-container">

    <div class="stands-section" *ngIf = "loggedIn">
        <div class="marketplace-header">
            <div class="marketplace-title">Stands in {{user.city}}</div>
        </div>
        <div class="stands-container">
            <div class="stand" *ngFor="let stand of stands">
                <div class="stand-name"> {{stand.stand_name}}</div>
                <div class="avatar" *ngIf="stand.avatar_link" [style.backgroundImage]="'url('+ stand.avatar_link +')'"></div>
                <div class="no-avatar" *ngIf="!stand.avatar_link"></div>
            </div>
        </div>
    </div>
    <div class="crops-section" *ngIf = "loggedIn">
        <div class="crops-title">Recently added items in {{user.city}}</div>
        <div class="crops-container">
            <div class="crops" *ngFor="let crop of crops">
                <div class="price">{{crop.price}}</div>
                <div class="image" [style.backgroundImage]="'url('+ crop.photo[0].link +')'"> </div>
                <div class="description">{{crop.description}}</div>
            </div>
        </div>
    </div>

    <div class="div" *ngIf = "!loggedIn" >
        <div class="crops-container-recent">
            <div class="crops" *ngFor="let crop of recentlyAddedCrops">
                <div class="price">{{crop.price}}</div>
                <div class="image" [style.backgroundImage]="'url('+ crop.photo[0].link +')'"> </div>
                <div class="description">{{crop.description}}</div>
            </div>
        </div>
    </div> 
    
</div>