@import '../../../variables';

.content-container {
  padding: 20px;
  height: 120%;
  width: 100%;
  font-family: $subFont;
  .unauth-container {
    background: white;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    .secondary-header {
      text-align: center;
      font-size: 28px;
      margin-top: 15px;
      div {
        span {
          text-decoration: underline;
        }
      }
    }
    .feature-description {
      margin-top: 15px;
      text-align: center;
      div {
        font-size: 18px;
        margin-top: 100px;
      }
      ul {
        width: 100%;
        padding: 0;
        li {
          list-style-type: none;
          padding: 5px;
          font-size: 16px;
        }
      }
    }
  }

  .secondary-header {
    text-align: center;
    font-size: 28px;
  }
  .garden-container {
    text-align: center;
    margin: 10px;
    .header {
      font-size: 18px;
    }
    .garden {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 20px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 125px;
        .img-container {
          height: 30px;
          width: 30px;
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
    .watering {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px 20px;
      flex-wrap: wrap;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
          .jam.jam-water-drop-f{
            height: 30px;
            width: 30px;
            fill: gray;
            path {
              fill: gray;
            }
          }
      }
    }
  }
  .harvest {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      .img-container {
        height: 30px;
        width: 30px;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .button-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 120px;
    width: 89%;
    justify-content: center;
    .water-button {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 10px;
      display: flex;
      justify-content: center;
      background: cornflowerblue;
      box-shadow: $circularShadow;
    }
  }
  .add-button {
    position: fixed;
    bottom: 120px;
    right: 30px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: $brightGreen;
    box-shadow: $circularShadow;
  }
}