@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '../../../variables';

.content-container {
  padding: 20px;
  height: 100%;
  form {
    background: white;
    border-radius: 5px;
    height: 75vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    .secondary-header {
      text-align: center;
      font-size: 28px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    label {
      margin: 10px auto;
      font-size: 16px;
    }
    input {
      border: 1px solid gray;
      padding: 5px;
      height: 40px;
      width: 80%;
      border-radius: 5px;
      font-size: 14px;
      margin: 5px;
    }
    button {
      font-size: 14px;
      font-weight: 100;
      padding: 10px;
      margin: 10px;
      margin-top: 40px;
      border-radius: 5px;
      width: 40%;
      align-self: center;
      background: $brightGreen;
      color: white;
    }
  } 
}