@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '../../../variables';

.content-container {
 padding: 20px;
 height: 120%;
 form {
   background: white;
   border-radius: 5px;
   height: 100%;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 15px;
   margin-bottom: 100px;
   box-shadow: $circularShadow;
    .secondary-header {
      text-align: center;
      font-size: 28px;
      margin-top: 15px;
      margin-bottom: 10px;
    } 
    label {
      margin: 10px auto;
      font-size: 16px;
    }
    input {
      border: 1px solid gray;
      padding: 5px;
      width: 80%;
      border-radius: 5px;
      font-size: 14px;
      margin: 5px;
    }
    .name-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      input {
        width: 40%;
      }
    }
    .location-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      select {
        border: 1px solid gray;
        width: 100px;
        margin: auto 10px;
        font-size: 12px;
      }
    }
    .avatar-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      label {
        font-size: 16px;
      }
    }
    .register-button {
      font-size: 14px;
      font-weight: 100;
      padding: 10px;
      margin: 10px;
      margin-top: 40px;
      border-radius: 5px;
      width: 40%;
      align-self: center;
      background: $brightGreen;
      color: white;
      box-shadow: $circularShadow;
    }
  }
}
.loading-modal {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  padding: 50px;
  .loading-spinner {
    height: 150px;
    width: 200px;
    background: white;
    box-shadow: $circularShadow;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .message {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}