@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '../../../variables';

.content-container {
  padding: 20px;
  height: 110%;
  form {
    background: white;
    height: 100%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: $circularShadow;
    margin-bottom: 100px;
    .secondary-header {
      text-align: center;
      font-size: 28px;
    }
    .plant-container {
      display: flex;
      width: 100%;
      justify-content: center;
      select {
        width: 40%;
        background: whitesmoke;
        padding: 5px;
        font-size: 14px;
      }
    }
    label {
      margin: 20px auto;
    }
    input {
      border: 1px solid gray;
      border-radius: 5px;
      width: 80%;
      align-self: center;
      padding: 5px;
      font-size: 14px;
    }
    .water-container {
      display: flex;
      width: 100%;
      justify-content: center;
      select {
        width: 50%;
        background: whitesmoke;
        padding: 5px;
        font-size: 14px;
      }
    }
    .date-container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      select {
        width: 33%;
        padding: 5px;
        font-size: 10px;
        background: whitesmoke;
      }
    }
    .today-button {
      background: whitesmoke;
      width: 30%;
      align-self: center;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      font-weight: 100;
      margin-bottom: 15px;
      box-shadow: 1px 1px 5px gray;
    }
    .add-button, .cancel-button {
      font-size: 14px;
      font-weight: 100;
      padding: 10px;
      margin: 5px;
      margin-top: 10px;
      border-radius: 5px;
      width: 40%;
      align-self: center;
      background: $brightGreen;
      color: white;
      box-shadow: 1px 1px 5px gray;
    }
    .cancel-button {
      background: $alertRed;
    }
    .plant-description {
      margin-top: 20px;
      font-size: 14px;
    }
    .photo-error {
      color: red;
      font-size: 12px;
    }
    .image-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        padding: 0;
        border: 0.6px outset black;
      }
    }
    .photo-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .photo-name {
        font-size: 12px;
      }
    }
    .addCrop-error {
      text-align: center;
    }
  }
}
.loading-modal {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  padding: 50px;
  .loading-spinner {
    height: 150px;
    width: 200px;
    background: white;
    box-shadow: $circularShadow;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .message {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}