<div class="content-container">
  <form enctype="multipart/form-data">
    <div class="secondary-header">Add A Crop</div>

    <label for="plant">Select Plant</label>
    <div class="plant-container">
      <select name="plants" (change)="showPlantInfo()" [(ngModel)]="cropFormData.plant">
        <option value="0">Select Plant</option>
        <option value="{{name}}" *ngFor="let name of plantNames">{{name}}</option>
      </select>
    </div>
    <span class="addCrop-error" *ngIf="plantError" style="color:red">Please select a plant category.</span>

    <label for="garden_description">Description</label>
    <input type="text" name="garden_description" [(ngModel)]="cropFormData.garden_description">
    <span class="addCrop-error" *ngIf="gardenDescriptionError" style="color:red">This field is required.</span>

    <label for="watering">Watering Interval</label>
    <div class="water-container">
      <select name="watering-days" [(ngModel)]="cropFormData.watering">
        <option value="0">Select Interval</option>
        <option value="1">Daily</option>
        <option value="2">Every Other Day</option>
        <option value="3">Every Third Day</option>
        <option value="7">Weekly</option>
        <option value="14">Every Two Weeks</option>
      </select>
    </div>
    <span class="addCrop-error" *ngIf="wateringError" style="color:red">Please select a watering interval.</span>

    <label for="date">Planting Date</label>

    <button (click)="selectToday()" class="today-button">Today's Date</button>
    <div class="date-container">
      <select name="plant-date" [(ngModel)]="cropFormData.month">
        <option value="">Select Month</option>
        <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
      </select>

      <select name="plant-day" [(ngModel)]="cropFormData.day">
        <option value="">Select Day</option>
        <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
      </select>

      <select name="plant-year" [(ngModel)]="cropFormData.year">
        <option value="">Select Year</option>
        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
      </select>
    </div>

    <div class="photo-error">{{getPhotoErrors()}}</div>
    <div class="image-upload">
      <label for="photos">Upload Photos</label>
      <input type="file" name="photo" accept=".jpg, .jpeg, .png" multiple (change)="updatePhotoList($event)">
    </div>
    <div class="photo-list" *ngFor="let photo of cropFormData.photo">
      <div class="photo-name">{{photo.name}}</div>
    </div>

    <button (click)="addCrop()" class="add-button">Add To Garden</button>
    <button routerLink="/garden" class="cancel-button">Cancel</button>
    <div class="plant-description">{{getPlantDescription()}}</div>
  </form>
</div>
<div class="loading-modal" *ngIf="showLoading">
  <div class="loading-spinner">
    <div class="message">Adding To Your Garden</div>
    <mat-spinner color="warn" diameter="60"></mat-spinner>
  </div>
</div>