.content-container {
  padding: 20px;
  height: 110%;
  form {
    background: white;
    height: 100%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    .secondary-header {
      text-align: center;
      font-size: 28px;
    }
    .plant-container {
      display: flex;
      width: 100%;
      justify-content: center;
      select {
        width: 40%;
        height: 20px;
        background: whitesmoke;
      }
    }
    label {
      margin: 20px auto;
    }
    input {
      border: 1px solid gray;
      border-radius: 5px;
      width: 80%;
      align-self: center;
      padding: 5px;
      font-size: 14px;
    }
    .water-container {
      display: flex;
      width: 100%;
      justify-content: center;
      select {
        width: 40%;
        height: 20px;
        background: whitesmoke;
      }
    }
    .date-container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      select {
        width: 30%;
        height: 20px;
        background: whitesmoke;
      }
    }
    .today-button {
      background: whitesmoke;
      width: 30%;
      align-self: center;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      font-weight: 100;
      margin-bottom: 15px;
    }
    .add-button {
      font-size: 14px;
      font-weight: 100;
      padding: 10px;
      margin: 10px;
      margin-top: 20px;
      border-radius: 5px;
      width: 40%;
      align-self: center;
      background: #7BC677;
      color: white;
    }
    .plant-description {
      margin-top: 20px;
      font-size: 14px;
    }
    .photo-error {
      color: red;
      font-size: 12px;
    }
    .image-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        padding: 0;
        border: 0;
      }
    }
    .photo-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .photo-name {
        font-size: 12px;
      }
    }
    .addCrop-error {
      text-align: center;
    }
  }
}