#sidebar {
  position: fixed;
  width: 50%;
  height: 83.25vh;
  background: lightgreen;
  left: -50%;
  transition: all 200ms linear;
  ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      color: black;
      list-style-type: none;
      padding: 15px 10px;
      width: 100%;
      padding-left: 15%;
      border-bottom: 1px solid green;
      a {
        width: 100%;
      }
    }
  }
}

#sidebar.active {
  left: 0px;
}

.logout-button {
  background-color: red;
}
