<div id="sidebar-container">
  <div id="sidebar">
    <ul>
      <li (click)="toggleSideBar()" *ngIf="!isLoggedIn()" routerLink="login">
        <a>Login</a>
      </li>
      <li (click)="toggleSideBar()" *ngIf="!isLoggedIn()" routerLink="register">
        <a>Register</a>
      </li>
      <li (click)="toggleSideBar()" routerLink="about">
        <a>About</a>
      </li>
      <li (click)="toggleSideBar()" *ngIf="isLoggedIn()">
        <button class="logout-button" routerLink="/marketplace" (click)="logout()">Logout</button>
      </li>
      <li (click)="toggleSideBar()" *ngIf="isLoggedIn()" routerLink="messages">
        <a>Your Inquiries</a>
      </li>
      <li (click)="toggleSideBar()" *ngIf="isLoggedIn()" routerLink="sentConversations">
        <a>Inquiries Sent</a>
      </li>
    </ul>
  </div>

  <div class="outside">

  </div>
</div>