$mainFont: 'Source Sans Pro', sans-serif;
$subFont: 'Oxygen', sans-serif;
$darkestGreen: #47A059;
$brightGreen: #2AB268;
$greenYellow: #C1E796;
$kaleGreen: #82A964;
$garbageGreen: #47574B;
$alertRed: #D35F63;
$inboxColor: #49a078;
$sentMessageColor: #216869;

$circularShadow: 1px 1px 10px gray;
$circleButton: 55px;
$circle: 50%;
$circleButtonBot: 90px;